{% extends 'base.html' %}

{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}

{% load thumbnail %}

{% block content %}
  <div class="container py-5">
    <h1>
      {% block h1 %}
        {{ group.title }}
      {% endblock h1 %}
    </h1>
    <p>{{ group.description }}</p>

    {% include 'posts/includes/posts_list.html' %}

    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock content %}

{% comment %}
Данный комментарий необходим
для прохождения теста tests/test_homework.py:237:
{% for post in page_obj %}
{% endfor %}
{% endcomment %}